services:
  k-view:
    build:
      context: .
      args:
        TARGETARCH: arm64  # Change to amd64 if needed
    image: k-view-dev:latest
    ports:
      - "8080:8080"
    environment:
      DEV_MODE: "true"
      GIN_MODE: debug
      PORT: "8080"
      KVIEW_STATIC_USERS: '[{"username":"admin","password_hash":"$$2b$$12$$/rN33LSSA6EdI6RGnsfRquX.Xv.DwAXsO/4HIkxzgW9.MowFPzAQC"}]' # "password"
      # No KVIEW_GOOGLE_CLIENT_ID or KVIEW_GOOGLE_CLIENT_SECRET needed in dev mode
    volumes:
      - ./config/rbac:/etc/kview/rbac:ro
