{{- if .Values.rbac.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "k-view.fullname" . }}-rbac-config
  labels:
    {{- include "k-view.labels" . | nindent 4 }}
data:
  assignments.yaml: |
    assignments:
{{ toYaml .Values.rbac.assignments | indent 6 }}
{{- range .Values.localUsers }}
{{- if .role }}
      - user: {{ .username | quote }}
        role: {{ .role | quote }}
{{- if .namespace }}
        namespace: {{ .namespace | quote }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
